.faq {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    border: 2px;
    border-color: #E5E5E5;
    padding: 1rem;
    align-items: center;
    border-style: solid;
    border-radius: 6px;
    margin: 10px 0;
    padding: 1rem;
    cursor: pointer;
}

.faq:hover {
    box-shadow: -1px 1px 10px #8d8282;
}

.faq img {
    height: 18px;
    width: 18px;
}

.answer {
    border-style: solid;
    border-color: #f1ebeb;
    margin-bottom: 2rem;
    

}

@media only screen and (max-width: 600px) {
    .faq {
        width: 80vw;
    }
}